Package: xyz.xninja.batterydata
Name: BatteryData
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Display all available battery information
Maintainer: ARX8x
Author: ARX8x
Section: Tweaks
Version: 0.0.1-54+debug
Installed-Size: 121
